:root {
  --white: #ffffff;
  --black: #000000;
  --blue: #649cd4;
  --blue-clear: #3ca6a6;
  --text-input-field: #f7f7f7;
  --hospital-green: #acd9b2;
  --sm: 14px;
  --md: 16px;
  --lg: 18px;
  --innerHeight: window.innerHeight;
}
