.about-container {
  width: 100%;
}

.about-iam {
  width: 100%;
  background-color: #026773;
}

.about-iam-text {
  width: 50%;
  text-align: center;

  margin: 0 auto;
  padding: 60px 0 250px 0;
  h4 {
    font-size: 24px;
    color: #fff;
    font-weight: bold;
  }
  p {
    font-size: 16px;
    color: #fff;
  }

  @media (max-width: 1240px) {
    width: 75%;
  }

  @media (max-width: 650px) {
    width: 90%;
  }
}

.about-table {
  background-color: #fff;
  border-radius: 20px;
  border: 1px solid #fff;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(33%, 1fr));
  width: 80%;
  margin: 0 auto;
  padding: 30px;
  margin-top: -150px;

  @media (max-width: 1240px) {
    display: block;
  }
  @media (max-width: 500px) {
    width: 70%;
  }
}

.costa-rica-flag {
  width: 120px;
  height: 25px;
  display: flex;
  align-items: center;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 10px;
  padding: 10px;
  img {
    width: 25px;
    height: 25px;
    margin-right: 10px;
  }
}
