.social-icons {
  display: flex;
  padding: 0;
}

.social-media-icon {
  cursor: pointer;
  background-color: transparent;
  border: none;
  margin: 0 5px;
  width: 50px;
  height: 50px;

  img {
    &:hover {
      filter: invert(24%) sepia(0%) saturate(0%) hue-rotate(68deg)
        brightness(95%) contrast(93%);
      @media (max-width: 1024px) {
        filter: invert(25%) sepia(60%) saturate(856%) hue-rotate(135deg)
          brightness(65%) contrast(101%);
      }
    }
  }
}
